<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#FFFFFF"/>
    <title>{{meta_title}}</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="{{asset "images/favicon.png"}}">
    <link href="{{asset "images/apple-touch-icon.png"}}" rel="apple-touch-icon" />
    <link href="{{asset "images/apple-touch-icon-76x76.png"}}" rel="apple-touch-icon" sizes="76x76" />
    <link href="{{asset "images/apple-touch-icon-120x120.png"}}" rel="apple-touch-icon" sizes="120x120" />
    <link href="{{asset "images/apple-touch-icon-152x152.png"}}" rel="apple-touch-icon" sizes="152x152" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=5.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/all.min.css"}}" />
    {{ghost_head}}
    <script type="text/test">
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?f9251b52c072239759f41e9f8e0ba0a4";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <script type="text/javascript">
      var disqus_shortname = 'twlinuxt';
    </script>
</head>
<body class="{{body_class}} nav-closed">
    {{{body}}}
    {{> footer}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset "js/all.min.js"}}"></script>
    <script async="async" src="//img.halfrost.com/fontss/iconfont.js"></script>
    <style type="text/css">
      .icon {
        width: 60px; height: 60px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
      }
    </style>
    <script>
    var serviceWorkerUri = '/serviceworker-v1.js';
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register(serviceWorkerUri).then(function() {
          if (navigator.serviceWorker.controller) {
            console.log('Assets cached by the controlling service worker.');
          } else {
            console.log('Please reload this page to allow the service worker to handle network operations.');
          }
        }).catch(function(error) {
          console.log('ERROR: ' + error);
        });
    } else {
        console.log('Service workers are not supported in the current browser.');
    }
    </script>
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-82753806-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-82753806-1');
    </script>
</body>
</html>
